{% extends 'app/base.html' %}
{% load static %}

{% block title %}
about us
{% endblock %}

{% block major-content %}
<section id="mission-vision">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body" style="border-radius:50% ;">
                        <h1 class="card-title">mission</h1>
                        <p class="card-text">To utilize and recycle non-biodegradable materails to aid 
                            in manaufacture of new components to improve and sustain moderan infracture.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body" style="border-radius:50% ;">
                        <h1 class="card-title">vision</h1>
                        <p class="card-text">To aid sustainable growth and development through use of non-biodegradable 
                            materials to support and maintain the environments.
                           </p>
                    </div>
                </div>
            </div>

        </div>
</section>
{% endblock major-content %}

{% block history%}
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>our history</h1>
                
            </div>
        </div>
</section>
{% endblock history%}

{% block sustainability%}
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-6">

            </div>

            <div class="col-6">

            </div>



        </div>
</section>
{% endblock sustainability%}

{% block career%}
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-6">



                <div class="col-6">

                </div>

            </div>

        </div>
</section>
{% endblock career%}

{% block news-event%}
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-6">



                <div class="col-6">

                </div>

            </div>

        </div>
</section>
{% endblock news-event%}

{% block location%}
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-6">



                <div class="col-6">

                </div>

            </div>

        </div>
</section>
{% endblock location%}

{% block contact-us%}
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-6">



                <div class="col-6">

                </div>

            </div>

        </div>
</section>
{% endblock contact-us%}